body{
    border:20px;
    margin:20px;
    }
    
    * {
      box-sizing: border-box;
    }
  
  .submit{
      background-color:white;
      color:black;
      padding:15px;
  }
  
  /*Estilos Butao submit*/
  input[type=submit] {
      width: 25%;
      background-color: #8C53E6;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    input[type=submit]:hover {
      background-color: #8258E0;
    }
  
  
    input[type=text], select {
      width: 25%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }

      
  input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  body {
      margin: 0px;
      border: 0px;
    }

    .form{
        text-align: center;
        border: 1px;
        border-color: black;
        padding: 100px;

    }
  
    h3{
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        text-align: center;
    }

    .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .alert-danger {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }

    .invalid-feedback{
      color: #a94442;
    }
  

    @media only screen and (min-width: 600px){

      .col-s-1 {width:8.33%;}
      .col-s-2 {width:16.66%;}
      .col-s-3 {width:25%;}
      .col-s-4 {width:33.33%;}
      .col-s-5 {width:41.66%;}
      .col-s-6 {width:50%;}
      .col-s-7 {width:58.33%;}
      .col-s-8 {width:66.66%;}
      .col-s-9 {width:75%;}
      .col-s-10 {width:83.33%;}
      .col-s-11 {width:91.66%;}
      .col-s-12 {width:100%;}
      }
      
      .col-1 {width:8.33%;}
      .col-2 {width:16.66%;}
      .col-3 {width:25%;}
      .col-4 {width:33.33%;}
      .col-5 {width:41.66%;}
      .col-6 {width:50%;}
      .col-7 {width:58.33%;}
      .col-8 {width:66.66%;}
      .col-9 {width:75%;}
      .col-10 {width:83.33%;}
      .col-11 {width:91.66%;}
      .col-12 {width:100%;}
      
      /*INTRODUÇÃO DE UM BREAKPOINT NO LAYOUT RESPONSIVO*/
      @media only screen and (max-width: 768px){
        /*PARA MOBILE PHONES*/
        [class*="col-"]{
          width:100%;
        }
      }
      
      /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
    
    .row{
      font-family: 'Courier New', Courier, monospace;
    }
    
    .row::after{
      content: "";
      clear: both;
      display: table;
    }
    
    [class*="col-"]{
      float:left;
      padding: 15px;
      border: 1px;
    }
    
    .footer{
      background-color:#ffffff;
      padding:15px;
      font-family: 'Verdana';font-size: 1em;
    }
  