body{
    border:20px;
    margin:20px;
    }
    
    * {
      box-sizing: border-box;
    }
  
  .submit{
      background-color:white;
      color:black;
      padding:15px;
  }
  
  /*Estilos Butao submit*/
  input[type=submit] {
      width: 25%;
      background-color: #8C53E6;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    input[type=submit]:hover {
      background-color: #8258E0;
    }
  
  
    input[type=text], select {
      width: 25%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }

      
  input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  body {
      margin: 0px;
      border: 0px;
    }

    .form{
        text-align: center;
        border: 1px;
        border-color: black;
        padding: 100px;

    }
  
    h3{
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        text-align: center;
    }

    .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .alert-danger {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }

    .invalid-feedback{
      color: #a94442;
    }
  
  