table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    padding: 15px;
  }

  th {
    background-color: #8C53E6;
    color: white;
  }

  input[type=submit] {
    width: 100%;
    background-color: #8C53E6;
    color: white;
    padding: 14px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

/* estilo para a navbar */
.topnav {
  overflow: hidden;
  background-color: #8258E0;
  position: fixed;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.headerrigth{
  float: right;
  display: block;
}

/* estilo para as palavras na nav bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
 
}

/* quando passa o rato por cima de algum menu */
.topnav a:hover {
  background-color: #AD6DF7;
  color: white;
}

/* Mudar a cor dependentemente do local onde está */
.active {
  background-color: #2196F3;
}

/* Muda o background do devido sítio onde estamos */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Para os icon dentro do header */
.topnav .icon {
  display: none;
}

span.psw {
  float: right;
  padding-top: 16px;
}

body{
  margin: 0px;
  border: 0px;

}


/*Isto agora vai vem aqui para tablets*/
@media only screen and (min-width: 600px){

  .col-s-1 {width:8.33%;}
  .col-s-2 {width:16.66%;}
  .col-s-3 {width:25%;}
  .col-s-4 {width:33.33%;}
  .col-s-5 {width:41.66%;}
  .col-s-6 {width:50%;}
  .col-s-7 {width:58.33%;}
  .col-s-8 {width:66.66%;}
  .col-s-9 {width:75%;}
  .col-s-10 {width:83.33%;}
  .col-s-11 {width:91.66%;}
  .col-s-12 {width:100%;}
  }
  
  .col-1 {width:8.33%;}
  .col-2 {width:16.66%;}
  .col-3 {width:25%;}
  .col-4 {width:33.33%;}
  .col-5 {width:41.66%;}
  .col-6 {width:50%;}
  .col-7 {width:58.33%;}
  .col-8 {width:66.66%;}
  .col-9 {width:75%;}
  .col-10 {width:83.33%;}
  .col-11 {width:91.66%;}
  .col-12 {width:100%;}
  
  /*INTRODUÇÃO DE UM BREAKPOINT NO LAYOUT RESPONSIVO*/
  @media only screen and (max-width: 768px){
    /*PARA MOBILE PHONES*/
    [class*="col-"]{
      width:100%;
    }
  }
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.row{
  font-family: 'Courier New', Courier, monospace;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

[class*="col-"]{
	float:left;
	padding: 15px;
	border: 1px;
}

.footer{
	background-color:#ffffff;
	padding:15px;
  font-family: 'Verdana';font-size: 1em;
}

button{
  border: 1px;
  width: 100%;
  background-color: #8C53E6;
  color: white;
  padding: 14px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}